.a-btnTriggerNav {
  display: inline-block;
  background: none;
  border: 0;
  
  span {
    display: block;
    background-color: #ffffff;
    width: 25px;
    height: 2px;
    border-radius: 100px;
    margin-bottom: 0.4rem;
  }
}